@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500&family=Qwitcher+Grypen&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500;700&family=Qwitcher+Grypen&display=swap");

.screen-out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

body {
    background-color: #eae8fe;
    font-family: "Noto Sans KR", sans-serif;
}

/* .wrapper {
    background-color: lightcoral;
} */

header {
    margin-bottom: 67px;
}

.logo {
    text-align: center;
}

.img-logo {
    width: 386px;
    height: 180px;
    vertical-align: top;
}

.wrapper-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    justify-content: center;
}

.container-items {
    background-color: white;
    max-width: 360px;
    flex-basis: 360px;
    flex-grow: 1;
    padding: 31px 27px 28px 27px;
    box-sizing: border-box;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

li.sold-out {
    position: relative;
    pointer-events: none;
}

li img:nth-child(2) {
    position: absolute;
    opacity: 0.8;
    border-radius: 10px;
    left: 0;
    right: 0;
}

img.item {
    vertical-align: top;
    width: 94px;
    height: 130px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.form {
    display: flex;
    gap: 12px;
}

.wrapper-info {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.balance {
    box-sizing: border-box;
    background-color: #eae8fe;
    width: 200px;
    height: 33px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
}

.input-deposit {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 200px;
    height: 33px;
    font-family: "Noto Sans KR", sans-serif;
    padding-left: 6px;
}

.wrapper-btn {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.btn {
    display: block;
    font-family: "Noto Sans KR", sans-serif;
    height: 33px;
    background-color: #ffffff;
    border: transparent;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    cursor: pointer;
    width: 94px;
}

.btn.get {
    height: 106px;
    background-color: #6327fe;
    color: white;
}

li .item:hover {
    outline: 3px solid #6327fe;
    border-radius: 10px;
}

.btn:hover {
    filter: drop-shadow(0px 0px 1px rgba(99, 39, 254, 1));
}

.selected-items {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #eae8fe;
    width: 200px;
    height: 106px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 12px 0 0 12px;
    box-sizing: border-box;
}

.selected-items::-webkit-scrollbar {
    width: 11px;
    height: 0;
}
.selected-items::-webkit-scrollbar-thumb {
    height: 79px;
    background-color: white;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3.5px solid transparent;
}
.selected-items::-webkit-scrollbar-track {
    border-radius: 50px;
}

.selected-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 0 8px 0 10px;
    width: 170px;
    height: 46px;
    background-color: white;
    border-radius: 5px;
}

span.item-name {
    margin-left: 10px;
    font-size: 9px;
}

.pcs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 28px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
}

.container-info {
    background-color: white;
    max-width: 360px;
    flex-basis: 360px;
    flex-grow: 1;
    box-sizing: border-box;
}

.my-pocket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    box-sizing: border-box;
    background-color: #eae8fe;
    height: 32px;
    margin: 9px 27px;
    border-radius: 5px;
}

.container-get-items {
    height: 474px;
    background-color: white;
    border-top: 20px solid #eae8fe;
    padding: 0 27px;
}

.f-w-700 {
    font-weight: 700;
}

h2.f-w-700 {
    text-align: center;
    margin: 25px 0 13px 0;
    font-size: 14px;
}

.get-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #eae8fe;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 364px;
    padding: 11px;
    gap: 6px;
    overflow: scroll;
}

.get-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 0 8px 0 10px;
    background-color: #ffffff;
    width: 276px;
    height: 46px;
    border-radius: 5px;
}

.get-items::-webkit-scrollbar {
    width: 11px;
    height: 0;
}
.get-items::-webkit-scrollbar-thumb {
    height: 79px;
    background-color: white;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3.5px solid transparent;
}
.get-items::-webkit-scrollbar-track {
    border-radius: 50px;
}

.total {
    display: block;
    text-align: right;
    margin-top: 12px;
    font-size: 12px;
}

/* 스크롤 고정*/
.selected-items::after {
    content: " ";
    display: block;
    border: 20px solid transparent;
}

.get-items::after {
    content: " ";
    display: block;
    border: 500px solid transparent;
}

@media screen and (max-width: 747px) {
    body::-webkit-scrollbar {
        display: none;
    }

    .img-logo {
        width: 166px;
        height: 78px;
    }

    .container-get-items {
        border-top: 5px solid white;
    }
}
